<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Reviews</th>
      <th>Sentiments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Peoples out there don't even think it's quite costly. Seriously what u spending for this sweat shirt really it's a worth recently i bought this and very much satisfied the quality its really amazing as expected.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Very nice product.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>2</th>
      <td>It's fitting okay but it's tight around the shoulder region. Everything else is perfect. No complaints. You can go ahead and buy this product. This is a sweater looking like tshirt. It looks good on white people mainly</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Batter then Good</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Look wise it 3/5Fit 4/5Pricing 5/5</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>5</th>
      <td>I am happy to this outfit</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Not to dislike in any respect</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Need to focus on Quality Control. Hood laces quality were very poor. But overall clothes quality were impressive. But those small things were very noticeable which may be cost only few rupees(laces) that's why QC should be more efficient.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Yah product thande mein pahnane ke liye bahut hi achcha hai</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>9</th>
      <td>So..nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Good</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Best</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Good products</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Best</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Nice product 👍☺️</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>15</th>
      <td>The fabric quality was too good.It has fur inside which keeps us warms.But it's not for too chilled weather</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Very good quality ,excellent fitting n very warm</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Good product</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Good quality products...</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Perfect buy it dont waste time</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Worthy of price.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>21</th>
      <td>OTHER BRANDED KE SWEATSHIRT PATLE HOTE HAI WO WINTER MEI HAMEN PROTECT NAHI KARTE , LEKIN YAH SWEATSHIRT MOTA HAI AUR WINTER ME MUJHE PROTECT KAR RAHA HAI ISKA HOOD BHI COMFORTABLE HAI OTHER BRAND KA HOOD WITHOUT ZIPPER KE TIGHT HOTA HAI LEKIN FORT COLLINS KA HOOD BAHUT HI JYADA COMFORTABLE HAI MAIN IS SWEATSHIRT SE EXTREMELY SATISFIED HU KYOKI MUJHE YAH SIRF 429 RUPYA ME HI MILA HAI .</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Good product</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Nice quality.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Nice sweater,love it</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Product is very good and quality is awesome it feels like a premium hoddie</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>26</th>
      <td>It's perfect fitting and good looks also but not better fabric quality.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Nice and thick cloth and look</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Material goodI bough this in rs609 best priceBest fittingOverall good product in this price</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Its a good warm and excellent quality sweatshirt. Very Good Rather.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Good quality at the price range of 700</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Superb......👍👍👍👍</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>32</th>
      <td>It is small as compare to my regular sizeIt's good for winter</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>33</th>
      <td>This  Hoddie is Awsome ....As expected.Fabric is Good  ( Thick )Good For Winter Seasion😍😍😍😍</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Nice sweatshirt</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Very decent hoodie 👌. Colors are vibrant. Fur is of nice quality. Quality product in such a reasonable price.  Loved it. Highly recommended.  Just go for it.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>36</th>
      <td>It's worth for money.U can go for it.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Worth for Money</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Just go for it 👌👌👌🤩 best quality</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Very Smooth</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Worst from Fort Collins..Useless just after two weeks of gentle use.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>43</th>
      <td>बहुत ही पसन्द आया है</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Quality is good</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Received old stock item.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Highly satisfied with this product ..very good material</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Soooper</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Nice purchase in this price range.After 1 month of usage there is no sign of lint or anything.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Nice but tight Near the arms</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Vry good,value for money.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>53</th>
      <td>liked</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Perfect fit</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Best product in this price range...</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Fit as expected</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Fitting as expected, Thickness is good... ideal for winter.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Good product</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Awesome product, the size was a bit smaller than expected but the quality of awesome</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>61</th>
      <td>I like it</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Buy one size greater than your regular tshirt size</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Very good....👌👌</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Amazon services are very good....and the quality of the product is amazing.....if you return any product they give your money within 24 hours.....If you want to buy the product then go for the one size bigger of your size....that might help you.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>65</th>
      <td>excellent.. just hevy</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Very nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>67</th>
      <td>I like it .It's very good quality with best price</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>68</th>
      <td>I received a defective product and there is no option for replacement.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Awesome quality</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>70</th>
      <td>It's a good sweatshirt...you can you with it</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>71</th>
      <td>After washing it looks more thin than original.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Good product.looking nice</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Good product at this price</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Not a great product but just okay</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Too gud,very warm n very gud product,mst nuy</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Great quality</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Amezing 🤗</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Very bad product only use of one day the sweat shirt fill of lint balls</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>79</th>
      <td>I received a defective piece.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Superb product</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>81</th>
      <td>A one quality</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>82</th>
      <td>I was worried about material, but after delivery i am very happy to see that material is very much good.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Best product in this range. I got this 594/-.Must buy..</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Good quality and look💯</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>85</th>
      <td>First of all I got this product between 26hour of my delivery time.2nd the product is also pretty good.Little issue in fitting while it's fitting to my body properly but it feels loose towards arms.looking pretty good now let's see after using.After using 2times I realized that it's quality is poor.</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Good ...❤❤❤❤</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Nice Swetshirt😍😍</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>88</th>
      <td>So good at this price &amp; good in quality</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>89</th>
      <td>It's osm</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Worth every penny, product quality is really good at this price.Really Great😍</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>91</th>
      <td>It's far Better then my expectations. The overall product quality is awsome. A brilliant product by fort Collins. Go for it guys. Thanks amazon.</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Overall good stuff</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Nice stuff, quality n colours</td>
      <td>positive</td>
    </tr>
  </tbody>
</table>